<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="eyetechds.quicklink2" version="7.1.2.3" targetFramework="net461" />
  <package id="Microsoft.HandsFree.Sensors.Interop.EyeTech" version="0.0.1" targetFramework="net461" />
  <package id="Tobii.EyeX.Client" version="1.8.504" targetFramework="net461" />
  <package id="Tobii.EyeX.Framework" version="1.8.503" targetFramework="net461" />
</packages>