<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.HandsFree.Mouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.HandsFree.Mouse.Properties.Settings>
            <setting name="UseFixationStream" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SdkType" serializeAs="String">
                <value>SMISdk</value>
            </setting>
        </Microsoft.HandsFree.Mouse.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Tobii.EyeX.Client.Net20" publicKeyToken="70326046dcdce6cb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.8.504.0" newVersion="1.8.504.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
