<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tobii.EyeX.Client.Net20" publicKeyToken="70326046dcdce6cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.504.0" newVersion="1.8.504.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>